/*É o tamanho das Imagens*/
.logo{
    width: 5%;
    margin-top: 20px;
    margin-left: 20px;
}
/*Estilizaçao do BODY do site*/
body{
    margin: 0;
    border: 0;
    font-family: 'Tahoma';
    background: linear-gradient(black,#3533CD, black);
}
/*Estilização da DIV do header*/
.divHeader{
    position: relative;
    margin: auto;
    padding-bottom: 50px;
}
.nome {
    position: absolute;
    top: 37px;
    left: 90px;
    color: white;
    font-size: 20;
    font-family: Tahoma;
}
/*Estilização do MENU do site*/
nav{
    position: absolute;
    top: 22px;
    right: 0px;
}
nav a{
    display: inline;
    color: white;
    font-size: 20;
    margin-right: 30;
    text-decoration: none;
}
footer {
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
    padding: 100px 10px 10px 0;
}
.quadrado {
    width: 350px;
    height: 400px;
    background: linear-gradient(135deg,black, #09033d);
    font-size: 20px;
    border-radius: 30px; 
    margin-left: 30px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}
.nos {
    color: white;
    font-family: Tahoma;
    text-align: center;
    font-size: 30px;
}
.container {
    display: flex;
    gap: 50px;
}
.quadro {
    width: 900px;
    height: 400px;
    background: linear-gradient(135deg,black, #09033d);
    border-radius: 30px;
}
.fale {
    color: white;
    font-family: Tahoma;
    text-align: center;
    font-size: 40px;
}
.gente {
    color: white;
    font-family: Tahoma;
    text-align: center;
    font-size: 26.5px;
    margin-left: 20px;
    margin-right: 20px;
}